<% 
  @menu_current = "services" 
  @page_title = "Services"
%>
<div class="text-head"><h1>Our Services</h1><hr /></div>
<div class="keyword-logo-services"><img src="/images/keywords-logo.jpg" /></div>
<div class="bottom-text"><p>We help you find out what specific attributes of a product are important to its customers, how their experience of these attributes met their expectations, and how to use this knowledge to market the product more effectively.</p></div>
<hr />
<div class="services-1-2-3">
  <div class="text-box"><span>Market Intelligence based on aggregation and analysis of online <u>Voice of Customer</u></span></div>
    <div class="text-box"><span>Customer Intelligence based on analysis of online Customer <%= link_to 'Word of Mouth', '/pdfs/CI_report_proofread.pdf' -%></span></div>
  <div class="text-box" style="margin: 120px 0 0 20px;"><span>Closed Loop Word of Mouth marketing strategy and best practices</span></div>
</div>
<hr class="hr-260px" />
<div class="bottom-text"><p>We provide simple and economical customer experience.<br/>No surveys, no installation, no software training and no implementation hassles</p></div>
<hr />
<div class="bottom-text"><p>Call today at <span style="font-size: 20px; font-weight: bold; color:#27488a;"> 415-742-2580 </span> or <a href=<%= contact_us_path %>>Contact Us</a></p></div>
