<% 
  @menu_current = "methodology" 
  @page_title = "Methodology - Opinion Mining"
%>
<div class="text-head"><h1>Our Methodology</h1><hr /></div>
<div class="keyword-logo-methodology"><img src="/images/keywords-logo.jpg" /></div>
<div class="methodology-1-2-3">
<div class="text-box"><h3>The content</h3><span>- customer reviews of specific product models are located on public websites and forums, authenticated, de-duped and aggregated for the contextual analysis of the creators sentiments. All content is back-linked to the original source and individuals who have contributed it.</span></div>
<div class="text-box"><h3>Attributes Discovery</h3><span>The content of the customer reviews is processed by Opinion Miner© software to discussed products. The sentiments associated with discovered attributes are quantified for subsequent comparison.</span></div>
<div class="text-box" style="margin: 85px 0 0 22px;"><h3>Measuring  Importance</h3><span>The count of measurable opinions about specific product or market segment is weighted against the sum of all opinions expressed to establish the attribute’s importance to the customers.</span></div>
</div>
<hr class="hr-330px" />
<div class="bottom-text"><p>Our software employs traditional text analytics techniques, based on statistical models,<br/> combined with linguistic analysis and behavioral economics business rules.</p></div>
<hr />
<div class="bottom-text"><p>Call today at <span style="font-size: 20px; font-weight: bold; color:#27488a;"> 415-742-2580 </span> or <a href="<%= contact_us_path %>">Contact Us</a></p></div>
