<div id="content_area">
<br /><br />
  <p style="padding:160px 300px 200px 160px; background:url(/images/envelope3.jpg) 520px 1px no-repeat;">
    Thank you for registration. Please click link in email which was sent to You to finish registration.
  </p>
</div>